<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DMTASWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DMTASWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow shadow-lg mb-3">
            <div class="container-fluid ps-5">
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg preserveAspectRatio="xMidYMid meet" width="226" height="60" data-bbox="0 -0.007 3665.56 778.757" viewBox="0 -0.007 3665.56 778.757" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid--vw2q1qa8knfh">
                        <title id="svgcid--jyck1xol57l1" />

                        <g>
                            <title>Layer 1</title>
                            <g id="svg_1" stroke="null">
                                <path id="svg_2" data-color="1" fill="#000000" d="m913.91,512.27l-31,0l0,-18.27l84.44,0l0,18.28l-31,0l0,78.62l-22.44,0l0,-78.63z" stroke="null" />
                                <path id="svg_3" data-color="1" fill="#000000" d="m1035.27,570.13l-45,0l-8.58,20.76l-23,0l43.19,-96.9l22.14,0l43.33,96.9l-23.53,0l-8.55,-20.76zm-7.07,-17l-15.36,-37.13l-15.36,37.1l30.72,0.03z" stroke="null" />
                                <path id="svg_4" data-color="1" fill="#000000" d="m1071.42,581.34l7.61,-16.89c8.17,5.95 20.35,10.11 32,10.11c13.29,0 18.69,-4.43 18.69,-10.38c0,-18.14 -56.34,-5.68 -56.34,-41.68c0,-16.46 13.29,-30.17 40.83,-30.17c12.18,0 24.64,2.91 33.64,8.58l-6.92,17a54.74,54.74 0 0 0 -26.86,-7.61c-13.28,0 -18.41,5 -18.41,11.07c0,17.86 56.34,5.54 56.34,41.11c0,16.2 -13.42,30 -41.11,30c-15.39,0.07 -30.89,-4.48 -39.47,-11.14z" stroke="null" />
                                <path id="svg_5" data-color="1" fill="#000000" d="m1255.53,590.89l-0.14,-58.14l-28.52,47.89l-10.1,0l-28.38,-46.64l0,56.9l-21,0l0,-96.9l18.55,0l36.26,60.22l35.68,-60.22l18.41,0l0.28,96.9l-21.04,-0.01z" stroke="null" />
                                <path id="svg_6" data-color="1" fill="#000000" d="m1363.37,570.13l-45,0l-8.58,20.76l-23,0l43.21,-96.89l22.15,0l43.33,96.9l-23.48,0l-8.63,-20.77zm-7.07,-17l-15.36,-37.13l-15.36,37.09l30.72,0.04z" stroke="null" />
                                <path id="svg_7" data-color="1" fill="#000000" d="m1494.45,494l0,96.9l-18.4,0l-48.32,-58.83l0,58.83l-22.14,0l0,-96.9l18.55,0l48.17,58.83l0,-58.83l22.14,0z" stroke="null" />
                                <path id="svg_8" data-color="1" fill="#000000" d="m1517.44,494l22.42,0l0,96.9l-22.42,0l0,-96.9z" stroke="null" />
                                <path id="svg_9" data-color="1" fill="#000000" d="m1626.65,570.13l-45,0l-8.58,20.76l-23,0l43.23,-96.89l22.14,0l43.33,96.9l-23.53,0l-8.59,-20.77zm-7.05,-17l-15.37,-37.13l-15.37,37.09l30.74,0.04z" stroke="null" />
                                <path id="svg_10" data-color="1" fill="#000000" d="m882.9,186.2l68.62,0c55,0 92.14,36.16 92.14,86.69s-37.16,86.69 -92.14,86.69l-68.62,0l0,-173.38zm67.62,162c49.05,0 80.5,-31.21 80.5,-75.3s-31.45,-75.3 -80.5,-75.3l-55,0l0,150.6l55,0z" stroke="null" />
                                <path id="svg_11" data-color="1" fill="#000000" d="m1057,294.94c0,-38.4 27.49,-65.64 64.65,-65.64s64.65,27.24 64.65,65.64s-27.5,65.64 -64.65,65.64s-64.65,-27.25 -64.65,-65.64zm116.66,0c0,-32.45 -22.29,-54.5 -52,-54.5s-52,22.05 -52,54.5s22.29,54.49 52,54.49s52.02,-22.05 52.02,-54.49l-0.02,0z" stroke="null" />
                                <path id="svg_12" data-color="1" fill="#000000" d="m1198.19,294.94c0,-38.64 27.5,-65.64 65.4,-65.64c20.55,0 38.39,7.92 49,23.78l-9.16,6.68c-9.42,-13.12 -23.78,-19.32 -39.88,-19.32c-30.47,0 -52.76,21.8 -52.76,54.5s22.29,54.49 52.76,54.49c16.1,0 30.46,-6.19 39.88,-19.32l9.16,6.69c-10.65,15.6 -28.49,23.78 -49,23.78c-37.9,0 -65.4,-27.25 -65.4,-65.64z" stroke="null" />
                                <path id="svg_13" data-color="1" fill="#000000" d="m1446.87,230.29l0,129.29l-11.87,0l0,-27.74c-8.42,18.08 -26,28.74 -48.79,28.74c-33,0 -54,-18.58 -54,-54.74l0,-75.55l12.38,0l0,74.55c0,29.23 15.61,44.59 42.61,44.59c29.23,0 47.31,-19.57 47.31,-50.28l0,-68.86l12.36,0z" stroke="null" />
                                <path id="svg_14" data-color="1" fill="#000000" d="m1688.36,284l0,75.54l-12.36,0l0,-74.54c0,-29.23 -15.11,-44.59 -40.38,-44.59c-29.22,0 -47.3,19.57 -47.3,50.29l0,68.85l-12.39,0l0,-74.55c0,-29.23 -15.11,-44.59 -40.37,-44.59c-29.23,0 -47.31,19.57 -47.31,50.29l0,68.85l-12.39,0l0,-129.26l11.89,0l0,27.71c8.42,-18.08 26,-28.73 49.54,-28.73c23.28,0 40.37,10.65 47.31,31.21c8.42,-18.83 27.25,-31.21 52.26,-31.21c31.19,0.03 51.5,18.6 51.5,54.73z" stroke="null" />
                                <path id="svg_15" data-color="1" fill="#000000" d="m1830.27,297.91l-111.21,0c1.24,30.71 23.78,51.52 54.74,51.52c16.35,0 31.46,-5.94 41.36,-18.08l7.19,8.17c-11.4,13.87 -29.23,21.06 -48.8,21.06c-39.13,0 -66.63,-27.25 -66.63,-65.64s26.51,-65.64 61.93,-65.64s61.67,26.75 61.67,65.14c0,0.99 -0.25,2.23 -0.25,3.47zm-111,-9.66l99.07,0c-1.73,-28 -22,-48.05 -49.53,-48.05s-47.52,19.8 -49.5,48.05l-0.04,0z" stroke="null" />
                                <path id="svg_16" data-color="1" fill="#000000" d="m1966,284l0,75.54l-12.38,0l0,-74.54c0,-29.23 -15.61,-44.59 -41.86,-44.59c-30.47,0 -49,19.57 -49,50.29l0,68.85l-12.38,0l0,-129.26l11.89,0l0,28c8.67,-18.08 26.75,-29 51.27,-29c31.46,0.01 52.46,18.58 52.46,54.71z" stroke="null" />
                                <path id="svg_17" data-color="1" fill="#000000" d="m2065.07,351.41c-6.44,6.19 -16.85,9.17 -26.51,9.17c-22.78,0 -35.17,-13.38 -35.17,-35.18l0,-84.46l-23.78,0l0,-10.65l23.78,0l0,-28.24l12.39,0l0,28.24l41.11,0l0,10.65l-41.11,0l0,83.22c0,16.6 8.17,25.76 24,25.76c7.68,0 14.86,-2.47 20.06,-7.18l5.23,8.67z" stroke="null" />
                                <path id="svg_18" data-color="1" fill="#000000" d="m2259,359.58l-0.25,-114.92l-57,95.11l-14.37,0l-57,-93.63l0,113.44l-30.71,0l0,-173.38l26.5,0l68.86,114.93l67.62,-114.93l26.51,0l0.24,173.38l-30.4,0z" stroke="null" />
                                <path id="svg_19" data-color="1" fill="#000000" d="m2432.38,282.06l0,77.52l-29.23,0l0,-16.09c-7.43,11.39 -21.8,17.83 -41.61,17.83c-30.22,0 -49.3,-16.6 -49.3,-39.63c0,-22.05 14.87,-39.39 55,-39.39l34.18,0l0,-2c0,-18.08 -10.89,-28.73 -32.94,-28.73c-14.86,0 -30.22,5 -40.12,13.13l-12.14,-22.54c14.12,-10.9 34.68,-16.35 56,-16.35c38.11,0.02 60.16,18.1 60.16,56.25zm-31,36.16l0,-15.36l-31.95,0c-21.05,0 -26.75,7.93 -26.75,17.59c0,11.15 9.41,18.33 25.27,18.33c15.13,0 28.26,-6.94 33.46,-20.56l-0.03,0z" stroke="null" />
                                <path id="svg_20" data-color="1" fill="#000000" d="m2587.43,283.79l0,75.79l-31,0l0,-71.83c0,-23.53 -11.64,-34.92 -31.46,-34.92c-22,0 -36.9,13.37 -36.9,39.88l0,66.87l-31,0l0,-132.26l29.47,0l0,17.09c10.16,-12.14 26.26,-18.58 45.58,-18.58c31.77,0 55.31,18.08 55.31,57.96z" stroke="null" />
                                <path id="svg_21" data-color="1" fill="#000000" d="m2722.66,282.06l0,77.52l-29.23,0l0,-16.09c-7.43,11.39 -21.8,17.83 -41.62,17.83c-30.21,0 -49.28,-16.6 -49.28,-39.63c0,-22.05 14.86,-39.39 55,-39.39l34.19,0l0,-2c0,-18.08 -10.9,-28.73 -32.95,-28.73c-14.86,0 -30.22,5 -40.13,13.13l-12.13,-22.54c14.12,-10.9 34.68,-16.35 56,-16.35c38.1,0.02 60.15,18.1 60.15,56.25zm-31,36.16l0,-15.36l-32,0c-21,0 -26.75,7.93 -26.75,17.59c0,11.15 9.41,18.33 25.27,18.33c15.19,0 28.31,-6.94 33.52,-20.56l-0.04,0z" stroke="null" />
                                <path id="svg_22" data-color="1" fill="#000000" d="m2879.93,227.32l0,112.2c0,48.05 -25,69.85 -71.33,69.85c-24.77,0 -49.3,-6.44 -64.41,-18.82l13.88,-23.29c11.64,9.66 30.46,15.86 48.79,15.86c29.23,0 42.11,-13.38 42.11,-40.13l0,-6.94c-10.9,11.89 -26.51,17.59 -44.34,17.59c-37.9,0 -66.88,-25.76 -66.88,-64.15s29,-63.66 66.88,-63.66c18.58,0 34.93,5.94 45.82,19.07l0,-17.58l29.48,0zm-30.46,62.17c0,-22.3 -16.85,-37.4 -40.13,-37.4c-23.53,0 -40.38,15.1 -40.38,37.4c0,22.54 16.85,37.89 40.38,37.89c23.28,0 40.13,-15.38 40.13,-37.89z" stroke="null" />
                                <path id="svg_23" data-color="1" fill="#000000" d="m3029.52,303.36l-103.78,0c3.72,19.32 19.82,31.7 42.85,31.7c14.86,0 26.51,-4.7 35.92,-14.36l16.59,19.07c-11.89,14.12 -30.46,21.55 -53.25,21.55c-44.34,0 -73.07,-28.49 -73.07,-67.87s29,-67.62 68.36,-67.62c38.64,0 66.88,27 66.88,68.36c-0.02,2.48 -0.25,6.2 -0.5,9.17zm-104,-20.56l75.06,0c-2.48,-19.07 -17.1,-32.2 -37.41,-32.2c-20.09,0 -34.7,12.88 -37.68,32.2l0.03,0z" stroke="null" />
                                <path id="svg_24" data-color="1" fill="#000000" d="m3266.06,283.79l0,75.79l-31,0l0,-71.83c0,-23.53 -10.9,-34.92 -29.72,-34.92c-20.31,0 -34.43,13.37 -34.43,39.63l0,67.12l-31,0l0,-71.83c0,-23.53 -10.9,-34.92 -29.73,-34.92c-20.55,0 -34.43,13.37 -34.43,39.63l0,67.12l-31,0l0,-132.26l29.48,0l0,16.84c9.91,-11.89 25.26,-18.33 43.35,-18.33c19.31,0 35.42,7.18 44.58,22c10.65,-13.62 28.49,-22 49.54,-22c32.07,0 54.36,18.08 54.36,57.96z" stroke="null" />
                                <path id="svg_25" data-color="1" fill="#000000" d="m3415.9,303.36l-103.78,0c3.71,19.32 19.81,31.7 42.85,31.7c14.86,0 26.5,-4.7 35.91,-14.36l16.6,19.07c-11.89,14.12 -30.47,21.55 -53.25,21.55c-44.34,0 -73.08,-28.49 -73.08,-67.87s29,-67.62 68.37,-67.62c38.64,0 66.88,27 66.88,68.36c0,2.48 -0.25,6.2 -0.5,9.17zm-104,-20.56l75.05,0c-2.48,-19.07 -17.09,-32.2 -37.4,-32.2c-20.09,0 -34.71,12.88 -37.68,32.2l0.03,0z" stroke="null" />
                                <path id="svg_26" data-color="1" fill="#000000" d="m3561.54,283.79l0,75.79l-31,0l0,-71.83c0,-23.53 -11.64,-34.92 -31.45,-34.92c-22,0 -36.91,13.37 -36.91,39.88l0,66.87l-31,0l0,-132.26l29.48,0l0,17.09c10.15,-12.14 26.25,-18.58 45.57,-18.58c31.77,0 55.31,18.08 55.31,57.96z" stroke="null" />
                                <path id="svg_27" data-color="1" fill="#000000" d="m3665.56,352.4c-7.43,6 -18.58,8.92 -29.72,8.92c-29,0 -45.58,-15.36 -45.58,-44.59l0,-63.65l-21.8,0l0,-24.77l21.8,0l0,-30.22l31,0l0,30.22l35.42,0l0,24.77l-35.42,0l0,62.92c0,12.88 6.44,19.82 18.33,19.82c6.44,0 12.63,-1.74 17.34,-5.45l8.63,22.03z" stroke="null" />
                                <path id="svg_28" data-color="1" fill="#000000" d="m285.87,476.46l-25.69,0l0,-15.14l70,0l0,15.14l-25.72,0l0,65.16l-18.59,0l0,-65.16z" stroke="null" />
                                <path id="svg_29" data-color="1" fill="#000000" d="m385.56,524.41l-37.28,0l-7.11,17.21l-19.05,0l35.8,-80.3l18.35,0l35.91,80.3l-19.51,0l-7.11,-17.21zm-5.85,-14.11l-12.71,-30.74l-12.76,30.74l25.47,0z" stroke="null" />
                                <path id="svg_30" data-color="1" fill="#000000" d="m428.52,540.41a43,43 0 0 1 -14.28,-6.71l6.31,-14a42.9,42.9 0 0 0 12.27,6.08a46.16,46.16 0 0 0 14.23,2.29q7.92,0 11.7,-2.35a7.12,7.12 0 0 0 3.79,-6.25a6,6 0 0 0 -2.24,-4.76a16.68,16.68 0 0 0 -5.74,-3c-2.33,-0.77 -5.49,-1.61 -9.46,-2.53a128.74,128.74 0 0 1 -15,-4.36a24.39,24.39 0 0 1 -10,-7q-4.25,-4.82 -4.25,-12.82a22.39,22.39 0 0 1 3.78,-12.68a25.54,25.54 0 0 1 11.42,-9q7.62,-3.33 18.64,-3.33a62,62 0 0 1 15,1.83a44.69,44.69 0 0 1 12.84,5.28l-5.73,14.11a44.86,44.86 0 0 0 -22.26,-6.31q-7.8,0 -11.53,2.53a7.7,7.7 0 0 0 -3.72,6.65q0,4.13 4.3,6.14a66.76,66.76 0 0 0 13.13,3.95a132.79,132.79 0 0 1 15,4.36a24.93,24.93 0 0 1 10,6.89q4.28,4.65 4.28,12.68a21.93,21.93 0 0 1 -3.85,12.56a25.77,25.77 0 0 1 -11.53,9q-7.62,3.34 -18.69,3.34a65.77,65.77 0 0 1 -18.41,-2.59z" stroke="null" />
                                <path id="svg_31" data-color="1" fill="#000000" d="m178,186.22l78,0q27.94,0 49.39,10.66a79.88,79.88 0 0 1 33.34,30q11.89,19.36 11.89,45.11t-11.89,45.1a79.88,79.88 0 0 1 -33.34,30q-21.46,10.73 -49.39,10.72l-78,0l0,-171.59zm76,139q25.74,0 41.06,-14.34t15.35,-38.88q0,-24.51 -15.32,-38.86t-41.09,-14.32l-36.25,0l0,106.39l36.25,0.01z" stroke="null" />
                                <path id="svg_32" data-color="1" fill="#000000" d="m525.89,357.81l-0.25,-102.95l-50.5,84.81l-17.89,0l-50.25,-82.61l0,100.75l-37.27,0l0,-171.59l32.85,0l64.23,106.63l63.24,-106.63l32.61,0l0.49,171.59l-37.26,0z" stroke="null" />
                                <path id="svg_33" data-color="1" d="m563.14,401.31l0,15.14l-385.11,0l0,-15.14l385.11,0z" fill="#000000" stroke="null" />
                                <path id="svg_34" data-color="1" fill="#000000" d="m671.16,34.58a1287.49,1287.49 0 0 0 -300.57,-34.58a1287.49,1287.49 0 0 0 -300.59,34.56a1283,1283 0 0 0 -70,402.26a1294.29,1294.29 0 0 0 370.59,341.93a1294.29,1294.29 0 0 0 370.59,-341.93a1282.75,1282.75 0 0 0 -70.02,-402.24zm-300.57,660.47c-108.94,-66.71 -222.5,-173.31 -297.35,-276.27c1.46,-105.93 19.86,-226.64 52.7,-321.67c72.47,-17.15 166.37,-26.2 244.64,-26c78.27,-0.19 172.17,8.86 244.64,26c32.85,95 51.24,215.74 52.7,321.67c-74.83,102.96 -188.39,209.56 -297.33,276.27z" stroke="null" />
                            </g>
                        </g>
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 px-3">
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="HardwareDivision" asp-action="HardwareDivision">Hardware</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="PrintDivision" asp-action="PrintDivision">Print</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="SignageDivision" asp-action="SignageDivision">Signage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="DigitisationDivision" asp-action="DigitisationDivision">Digitisation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 pe-5">
                        <li class="ms-auto">
                            <a class="nav-link text-black">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                                    <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                                </svg>
                                Support
                            </a>
                        </li>
                    </ul>
                </div>
               
                   
                </div>
           
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - DMTASWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
